/* some style */

#game {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  background-color:#DFFD00;
}

.square {
  width: 110px;
  height: 110px;
  float: left;
  position: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #EEFE7A;
  background-size:cover;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
}

.square p {
  padding-left: 40px;
}


.square-val-2 { background-image: url("../images/2.jpg");  }
.square-val-4 { background-image: url("../images/4.jpg");  }
.square-val-8 { background-image: url("../images/8.jpg");  }
.square-val-16 { background-image: url("../images/16.jpg");  }
.square-val-32 { background-image: url("../images/32.jpg");  }
.square-val-64 { background-image: url("../images/64.jpg");  }
.square-val-128 { background-image: url("../images/128.jpg");  }
.square-val-256 { background-image: url("../images/256.jpg");  }
.square-val-512 { background-image: url("../images/512.jpg");  }
.square-val-1024 { background-image: url("../images/1024.jpg");  }
.square-val-2048 { background-image: url("../images/2048.jpg");  }